<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasminebreedlove.techandsportsnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tns_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tns_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".tech.TechArticleListActivity"
            android:label="@string/tech_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tech.TechArticleDetailActivity"
            android:label="@string/title_article_detail"
            android:parentActivityName=".tech.TechArticleListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jasminebreedlove.techandsportsnews.tech.TechArticleListActivity" />
        </activity>
        <activity android:name=".CategoryChooser" />
        <activity
            android:name=".sports.SportsArticleListActivity"
            android:label="@string/sports_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sports.SportsArticleDetailActivity"
            android:label="@string/title_sportsarticle_detail"
            android:parentActivityName=".sports.SportsArticleListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jasminebreedlove.techandsportsnews.sports.SportsArticleListActivity" />
        </activity>
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>